<div class="form-generator-control">

    <div class="form-generator-control-content">
        <div class="control-box"
             *ngIf="!actualControl">
            <!-- {{data.controlDescription}} - {{data.controlName}} - {{data.label}} -->

            <mat-form-field class="full-width">
                <mat-label *ngIf="(data.label || '') !== ''">{{data.label}}</mat-label>
                <input matInput
                       [placeholder]="data.configTextBox?.placeholder"
                       [id]="data.controlId">
            </mat-form-field>

            <app-control-action-button *ngIf="!actualControl"
                                       [data]="data"
                                       (deleteControl)="onDeleteControl($event)"
                                       (openSettings)="openSettings()"></app-control-action-button>
        </div>
        <mat-form-field class="full-width"
                        *ngIf="actualControl">
            <mat-label *ngIf="(data.label || '') !== ''">{{data.label}}</mat-label>
            <input matInput
                   [placeholder]="data.configTextBox?.placeholder"
                   [id]="data.controlId">
        </mat-form-field>
    </div>
</div>
