<div class="form-generator-control"
     *ngIf="!actualControl">

    <div class="form-generator-control-content">
        <div [ngClass]="{'control-box': !actualControl}">
            <!-- {{data.controlDescription}} - {{data.controlName}} - {{data.label}} -->

            <mat-form-field class="full-width">
                <mat-label *ngIf="(data.label || '') !== ''">{{data.label}}</mat-label>
                <input matInput
                       [placeholder]="data.configTextBox?.placeholder"
                       [id]="data.controlId">
            </mat-form-field>

            <app-control-action-button *ngIf="!actualControl"
                                       [data]="data"
                                       (deleteControl)="onDeleteControl($event)"
                                       (openSettings)="openSettings()"></app-control-action-button>
        </div>

    </div>
</div>


<div class="form-generator-control-content"
     *ngIf="actualControl">
    <mat-form-field class="full-width">
        <mat-label *ngIf="(data.label || '') !== ''">{{data.label}}</mat-label>
        <input matInput
               [placeholder]="data.configTextBox?.placeholder"
               [(ngModel)]="data.value"
               [id]="data.controlId">
    </mat-form-field>
</div>
