<div class="panel-box"
     style="padding-left: 10px;">
    <div class="panel-box-header">
        <h2> Form Generator</h2>
    </div>
    <div class="panel-box-content">

        <div fxLayout="row">
            <div fxFlex="50"
                 style="padding: 10px;">
                <h3>Design Form
                </h3>
                <div class="form-generator">
                    <div class="action-btn ">
                        <div class="action-btn-content clearfix">

                            <button mat-icon-button
                                    class="add-btn"
                                    color="primary"
                                    [disabled]="enableReorderControl"
                                    (click)="onAddControlItem(formService.controlList)">
                                <mat-icon>note_add</mat-icon>
                            </button>

                            <button mat-icon-button
                                    class="reorder-btn"
                                    color="warn"
                                    [disabled]="enableReorderControl"
                                    (click)="reorderControls()">
                                <mat-icon>reorder</mat-icon>
                            </button>

                        </div>
                    </div>

                    <app-control-ordering *ngIf="enableReorderControl"
                                          (doneUpdatingOrder)="onDoneUpdatingOrder($event)"
                                          [controlList]="temporaryControlForOrdering"></app-control-ordering>
                    <div *ngIf="!enableReorderControl">
                        <div *ngFor="let item of formService.controlList">
                            <app-text-box *ngIf="item.controlType === controls.textbox.name"
                                          [controlList]="formService.controlList"
                                          (deleteControl)="onDeleteControl($event)"
                                          [data]="item"></app-text-box>
                            <app-check-box *ngIf="item.controlType === controls.checkbox.name"
                                           [controlList]="formService.controlList"
                                           (deleteControl)="onDeleteControl($event)"
                                           [data]="item"></app-check-box>
                            <app-drop-down-list *ngIf="item.controlType === controls.dropdownlist.name"
                                                [controlList]="formService.controlList"
                                                (deleteControl)="onDeleteControl($event)"
                                                [data]="item"></app-drop-down-list>
                            <app-text-container *ngIf="item.controlType === controls.textContainer.name"
                                                [controlList]="formService.controlList"
                                                (deleteControl)="onDeleteControl($event)"
                                                [data]="item"></app-text-container>
                            <app-control-container *ngIf="item.controlType === controls.controlContainer.name"
                                                   [controlList]="formService.controlList"
                                                   (deleteControl)="onDeleteControl($event)"
                                                   (addControlItem)="onAddControlItem($event)"
                                                   [data]="item"></app-control-container>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex="50"
                 style="padding: 10px;">
                <h3>Preview</h3>
                <mat-card class="preview-form">
                    <mat-card>
                        <h4>Form</h4>
                        <hr>
                        <mat-card>
                            <div *ngFor="let item of formService.controlList">
                                <app-text-box *ngIf="item.controlType === controls.textbox.name"
                                              [actualControl]="true"
                                              [data]="item"></app-text-box>
                                <app-check-box *ngIf="item.controlType === controls.checkbox.name"
                                               [actualControl]="true"
                                               [data]="item"></app-check-box>
                                <app-drop-down-list *ngIf="item.controlType === controls.dropdownlist.name"
                                                    [actualControl]="true"
                                                    [data]="item"></app-drop-down-list>
                                <app-text-container *ngIf="item.controlType === controls.textContainer.name"
                                                    [actualControl]="true"
                                                    [data]="item"></app-text-container>
                                <app-control-container *ngIf="item.controlType === controls.controlContainer.name"
                                                       [actualControl]="true"
                                                       [data]="item"></app-control-container>
                            </div>
                        </mat-card>
                    </mat-card>
                    <mat-card>
                        <h3>Schema</h3>
                        <hr />
                        <pre>{{formService.controlList | json}}</pre>
                    </mat-card>
                </mat-card>
            </div>
        </div>
    </div>
</div>
