<div class="form-generator-control"
     *ngIf="!actualControl">
    <div [ngClass]="{'control-box': !actualControl}">
        <div class="form-generator-control-content">
            <mat-form-field [id]="data.controlId">
                <mat-label *ngIf="data.label !== ''">{{data.label}}</mat-label>

                <mat-select [required]="data.configDropDownList.required">
                    <mat-option *ngFor="let item of data.configDropDownList.dataSource"
                                [value]="item.value">{{item.text}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <app-control-action-button *ngIf="!actualControl"
                                   [data]="data"
                                   (deleteControl)="onDeleteControl($event)"
                                   (openSettings)="openSettings()"></app-control-action-button>
    </div>

</div>

<div class="form-generator-control-content"
     *ngIf="actualControl">
    <mat-form-field [id]="data.controlId">
        <mat-label *ngIf="data.label !== ''">{{data.label}}</mat-label>

        <mat-select [required]="data.configDropDownList.required">
            <mat-option *ngFor="let item of data.configDropDownList.dataSource"
                        [value]="item.value">{{item.text}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
