<div class="form-generator-control">
    <div class="control-box"
         *ngIf="!actualControl">
        {{data.controlDescription}} - {{this.data.configTextContainer.containerType}} -
        {{this.data.configTextContainer.content}}

        <app-control-action-button *ngIf="!actualControl"
                                   [data]="data"
                                   (deleteControl)="onDeleteControl($event)"
                                   (openSettings)="openSettings()"></app-control-action-button>
    </div>


    <div class="form-generator-control-content"
         style="min-height: 20px; "
         *ngIf="actualControl">
        <mat-label *ngIf="isContentType('mat-label')">{{this.data.configTextContainer.content}}</mat-label>
        <h1 *ngIf="isContentType('h1')">{{this.data.configTextContainer.content}}</h1>
        <h2 *ngIf="isContentType('h2')">{{this.data.configTextContainer.content}}</h2>
        <h3 *ngIf="isContentType('h3')">{{this.data.configTextContainer.content}}</h3>
        <h4 *ngIf="isContentType('h4')">{{this.data.configTextContainer.content}}</h4>
        <h5 *ngIf="isContentType('h5')">{{this.data.configTextContainer.content}}</h5>
    </div>

    <span class="clear"></span>

</div>
