<div class="form-generator-control"
     *ngIf="!actualControl">
    <div [ngClass]="{'control-box': !actualControl}">
        <div class="form-generator-control-content">
            <mat-checkbox [id]="data.controlName">{{data.label}}</mat-checkbox>
        </div>

        <app-control-action-button *ngIf="!actualControl"
                                   [data]="data"
                                   (deleteControl)="onDeleteControl($event)"
                                   (openSettings)="openSettings()"></app-control-action-button>
    </div>
</div>

<div class="form-generator-control-content"
     *ngIf="actualControl">
    <mat-checkbox [id]="data.controlName">{{data.label}}</mat-checkbox>
</div>
