<div *ngIf="!actualControl">
    <div class="action-btn">
        <div class="action-btn-content clearfix">

            <button mat-icon-button
                    class="add-btn"
                    color="primary"
                    [disabled]="enableReorderControl"
                    (click)="onAddControlItem()">
                <mat-icon>note_add</mat-icon>
            </button>

            <button mat-icon-button
                    class="reorder-btn"
                    color="warn"
                    [disabled]="enableReorderControl"
                    (click)="reorderControls()">
                <mat-icon>reorder</mat-icon>
            </button>
            <button mat-icon-button
                    class="reorder-btn"
                    color="warn"
                    [disabled]="enableReorderControl"
                    (click)="openSetting()">
                <mat-icon>settings_applications</mat-icon>
            </button>

        </div><span class="clear"></span>
    </div>
</div>

<div *ngIf="!actualControl">
    <app-control-ordering *ngIf="enableReorderControl"
                          (doneUpdatingOrder)="onDoneUpdatingOrder($event)"
                          [controlList]="temporaryControlForOrdering"></app-control-ordering>

    <div *ngIf="!enableReorderControl && data.wrappedWith === 'div'">
        <div class="control-list"
             *ngFor="let item of (data.controlList || [])">
            <app-control-list [item]="item"
                              [controlList]="data.controlList"
                              (deleteControl)="onDeleteControl($event)"
                              (addControlItem)="onAddControlItem($event)"></app-control-list>

        </div>
    </div>

    <mat-expansion-panel *ngIf="!enableReorderControl && data.wrappedWith === 'panel'">

        <mat-expansion-panel-header>
            <mat-panel-title>
                {{data.panelTitle}}
            </mat-panel-title>
            <mat-panel-description *ngIf="data.panelDescription !== ''">
                {{data.panelDescription}}
            </mat-panel-description>
        </mat-expansion-panel-header>


        <div class="control-list"
             *ngFor="let item of (data.controlList || [])">
            <app-control-list [item]="item"
                              [controlList]="data.controlList"
                              (deleteControl)="onDeleteControl($event)"
                              (addControlItem)="onAddControlItem($event)"></app-control-list>

        </div>
    </mat-expansion-panel>
</div>

<div *ngIf="actualControl && data.wrappedWith === 'div'">
    <div *ngFor="let item of (data.controlList || [])">
        <app-control-list [item]="item"
                          [actualControl]="true"></app-control-list>
    </div>

</div>

<mat-expansion-panel *ngIf="actualControl && data.wrappedWith === 'panel'"
                     [expanded]="data.panelExpanded">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{data.panelTitle}}
        </mat-panel-title>
        <mat-panel-description *ngIf="data.panelDescription !== ''">
            {{data.panelDescription}}
        </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngFor="let item of (data.controlList || [])">
        <app-control-list [item]="item"
                          [actualControl]="true"></app-control-list>

    </div>
</mat-expansion-panel>
