<h1 mat-dialog-title>Container Settings</h1>
<div mat-dialog-content>
    <p>
        <mat-form-field>
            <mat-label>Wrapped With</mat-label>
            <mat-select [(ngModel)]="tempItem.wrappedWith">
                <mat-option value="div">Div</mat-option>
                <mat-option value="panel">Panel</mat-option>
            </mat-select>
        </mat-form-field>
    </p>
    <p *ngIf="tempItem.wrappedWith === 'panel'">
        <mat-form-field appearance="legacy">
            <mat-label>Panel Title</mat-label>
            <input matInput
                   [(ngModel)]="tempItem.panelTitle">
        </mat-form-field>
    </p>
    <p *ngIf="tempItem.wrappedWith === 'panel'">
        <mat-form-field appearance="legacy">
            <mat-label>Panel Title</mat-label>
            <input matInput
                   [(ngModel)]="tempItem.panelDescription">
        </mat-form-field>
    </p>
    <p *ngIf="tempItem.wrappedWith === 'panel'">
        <mat-checkbox [(ngModel)]="tempItem.panelExpanded">Panel Expanded on Open?</mat-checkbox>
    </p>
</div>
<div mat-dialog-actions>
    <button mat-button
            (click)="saveConfig()"
            cdkFocusInitial>Done</button>
</div>
